version: "3.9"

services:
  backend:
    build: ./Backend
    container_name: backend
    restart: always
    env_file:
      - ./Backend/.env
    ports:
      - "3000:3000"

  frontend:
    build: ./frontend
    container_name: frontend
    restart: always
    ports:
      - "5173:5173"
    depends_on:
      - backend
